ragas
fastapi 
uvicorn 
pydantic 
sentence-transformers 
faiss-cpu 
PyPDF2 
pypdf
pdfplumber
python-multipart
langchain_community
langchain   
fastembed
chromadb
streamlit

playsound
PyObjC

                                   
